body {
  background-color: #444;
  font: 200 normal 20px/1 "neuzeit-grotesk", "Helvetica Neue", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-perspective: 1000px;
  min-height: 100vh;
}
